# Name: .inputrc

# Configure abbreviated search ability
"\e[A": history-search-backward
"\e[B": history-search-forward

# Configure autocomplete
set show-all-if-ambiguous on
set completion-ignore-case on

